<section class='account-section'>
  <div class='container'>

    <div class='account-header'>
      <h1>Reset Your Password</h1>
    </div>

    {% form 'reset_customer_password' %} {{ form.errors | default_errors }}
      <label for="password">Password</label>
      <input type="password" value="" name="customer[password]" size="16" />

      <label for="password_confirmation">Password Confirmation</label>
      <input
        type="password"
        value=""
        name="customer[password_confirmation]"
        size="16"
      />

      <input type="submit" value="Reset Password" />
    {% endform %} 

    <div class='account-footer'>
      <a href="/account">Your Account</a>
      {{ 'Log Out'  | customer_logout_link }}
    </div>
    
  </div>
</section>